.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
}

.textLogo {
  font-weight: 900;
  font-size: 5rem;
}

.purpleA {
  color: #8127bd;
}

.pinkZ {
  color: #da267b;
}