.clearAll,
.clearCompleted {
  font-weight: 600;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-style: italic;
  background-color: #111111;
  color: #ffffff;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(90deg, #8127bd, #da267b);
  }
}
